<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

  <connectionStrings>
    <add name="conStr" connectionString="Data Source=E:\VS2017\CustomerProject\过雨烟云\过雨烟云\bin\Debug\gyyy.db"/>
  </connectionStrings>
</configuration>
